[submodule "pack/allonsy/start/vim-fugitive"]
	path = pack/allonsy/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/allonsy/start/vim-commentary"]
	path = pack/allonsy/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "pack/allonsy/start/vim-unimpaired"]
	path = pack/allonsy/start/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "pack/allonsy/start/vim-surround"]
	path = pack/allonsy/start/vim-surround
	url = git@github.com:tpope/vim-surround
[submodule "pack/allonsy/start/gundo.vim"]
	path = pack/allonsy/start/gundo.vim
	url = git@github.com:sjl/gundo.vim.git
[submodule "pack/allonsy/start/nerdtree"]
	path = pack/allonsy/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "pack/allonsy/start/vim-eunuch"]
	path = pack/allonsy/start/vim-eunuch
	url = git@github.com:tpope/vim-eunuch
[submodule "pack/allonsy/start/async.vim"]
	path = pack/allonsy/start/async.vim
	url = https://github.com/prabirshrestha/async.vim.git
[submodule "pack/allonsy/start/vim-lsp"]
	path = pack/allonsy/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
