[submodule "pack/allonsy/start/vim-fugitive"]
	path = pack/allonsy/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/allonsy/start/vim-commentary"]
	path = pack/allonsy/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "pack/allonsy/start/vim-unimpaired"]
	path = pack/allonsy/start/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "pack/allonsy/start/vim-surround"]
	path = pack/allonsy/start/vim-surround
	url = git@github.com:tpope/vim-surround
[submodule "pack/allonsy/start/rust.vim"]
	path = pack/allonsy/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
